.about p {
    width:55%;
    float: left;
}

.about img {
    width: 30%;
    float: right;
}

img.thumb {
    width: 75px;
    height: 75px;
}

a.private_dining {
    color: red;
    font-size: 18px;
    font-weight: 800;
}

a.private_dining.home {
    font-size: 10px;
}

.private_dining_images {
    margin-left: 25px;
}

.private_dining_images img {
    width:40%;
    height: 280px;
}

.promo2.private_wine_room {
    min-height: 175px;
    background-size: 140px 175px;
    background-image: url("/images/wine_room_02.jpg");
}

.promo2.private_cortabella_room {
    min-height: 175px;
    background-size: 140px 175px;
    background-image: url("/images/dining_hall.jpg");
}

#carousel img {
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;

}

#carousel div.bvimg {
    height: 630px;
    background-size: cover;
    background-repeat: no-repeat;
}

.happy_hour {
    background: rgba(255,255,255,.75);
    width: 250px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 1em;

    position: absolute;
    right: 2.5%;
    bottom: 55%;
}

.restaurant.happy_hour {
    top: 20%;
    right: 3.5%;
    bottom: inherit;
}

.happy_hour p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.happy_hour .close {
    cursor: pointer;
    top: 5%;
    right: 5%;
    position: absolute;
    font-size: larger;
}

.social_popup {
    padding: 1%;
    position: absolute;
    bottom: 45%;
    right: 2.5%;
    width: 253px;
    z-index: 9999;
    background-color: rgba(255,255,255,.75);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.social_popup .close {
    cursor: pointer;
    top: 5%;
    right: 5%;
    position: absolute;
    font-size: larger;
    z-index: 9999;
}

.mobile-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
}
