.about p {
    width:55%;
    float: left;
}

.about img {
    width: 30%;
    float: right;
}

img.thumb {
    width: 75px;
    height: 75px;
}

a.private_dining {
    color: red;
    font-size: 18px;
    font-weight: 800;
}

.private_dining_images {
    margin-left: 25px;
}

.private_dining_images img {
    width:40%;
    height: 280px;
}

.promo2.private_wine_room {
    min-height: 175px;
    background-size: 140px 175px;
    background-image: url("/images/wine_room_02.jpg");
}

.promo2.private_cortabella_room {
    min-height: 175px;
    background-size: 140px 175px;
    background-image: url("/images/dining_hall.jpg");
}